.listOfEntries {
  height: 150px;

  display: grid;

  grid-auto-flow: column;
  grid-template-rows: repeat(auto-fill, minmax(40px, auto));
  grid-template-columns: repeat(auto-fit, 180px minmax(100px, auto));

  /* row-gap: 16px; */
  gap: 8px;
}